@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font {
  font-family: "Zilla Slab", serif;
}

.subitem {
  display: block;
  @media (max-width: 1024px) {
    display: none;
  }
}

.time-top {
  background-image: url("/images/banner-bg.png");
  background-size: cover;
}

.mycontainer {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .mycontainer {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .mycontainer {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mycontainer {
    max-width: 1024px;
    padding: 0 40px;
  }
}
