@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --blue: #54a8d0;
    --red: #ed4337;
    --bg-black: #0f1217;
    --bg-gray: #f8f6f6;
    --text-black: #1b1b1b;
    --text-gray-light: #b7bec6;
    --button-primary: #1a291b;
    --button-secondary: #f1ede8;
    --button-black: #1c1c1c;
    --border-gray: #bbb;
    --border-gray-med: #e5e5e5;
    --border-gray-light: #f8f8f8;
    --font-serif: "Gilda";
    --font-serif-medium: "Gilda Medium";
    --font-serif-bold: "Gilda Bold";
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
    color: var(--text-black);
  }

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    font: 100%/1.5 sans-serif;
    line-height: 1.6;
    font-family: var(--font-serif);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-gabarito {
    font-family: "Gabarito", cursive;
  }
  .intro {
    background: linear-gradient(45deg, #ab60ea, #95dff8);
  }
  .intro::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }

  .storeLinksIntro::after {
    position: absolute;
    z-index: -1;
    height: 71%;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    background: linear-gradient(
        117.78deg,
        #fff9e6 4.58%,
        rgba(255, 255, 255, 0) 86.1%
      ),
      radial-gradient(
        96.79% 217.39% at 100% 104.38%,
        rgba(222, 216, 255, 0.4) 0%,
        #ffffff 100%
      );
    background-size: 250% 250%;
    animation: gradient 8s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (min-width: 640px) {
    .intro::before {
      left: 30%;
    }
  }
  @media (min-width: 768px) {
    .intro::before {
      left: 25%;
    }
  }
  @media (min-width: 1024px) {
    .intro::before {
      left: 20%;
    }
  }
  .mySlider .slick-slide {
    margin: 0 10px;
  }

  /* hover effect */

  .last-element {
    transition: all 0.5s;
    display: flex;
    opacity: 0;
    gap: 10;
  }
  .parent:hover .last-element {
    display: flex;
    opacity: 1;
    gap: 10;
    transform: translateY(-20px);
  }
  .buildforgrowth {
    transition: all 0.5s;
  }
  .parent:hover .buildforgrowth {
    transform: translateY(-35px);
  }
  .buildforgrowth-img-bg {
    transition: all 0.5s;
  }
  .parent:hover .buildforgrowth-img-bg {
    background: linear-gradient(45deg, #ffffff, #95dff8);
  }
  .notconvince {
    display: flex !important;
  }
  .notc .slick-slide {
    width: auto !important;
    margin: 0 15px;
  }
  .gswsl {
    background-image: url("../public/gswsl/gswslBg.svg");
  }
}
